.card {
  width: 88%;
  padding: 0 !important;
}


.card img {
  display: block;
  width: 100%;
  height: 325px;
  object-fit: cover;
} 

.jumbotron {
  width: 88%;
  margin:0 auto;

}
.bg-degradado {
  background: linear-gradient(90deg, #cdd0d4, #09c9cf);
}


